<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-xs-2 bolt">
              <span>Subscriber key</span>
            </th>
            <th class="col-xs-2 bolt">
              <span>First name</span>
            </th>
            <th class="col-xs-2 bolt">
              <span>Last name</span>
            </th>
            <th class="col-xs-2 bolt">
              <span>Account number</span>
            </th>
            <th class="col-xs-4"></th>
          </tr>
        </thead>
        <tbody class="table-body-container">
        </tbody>
      </table>
    </div>
  </div>
</div>
