<nav class="navbar navbar-custom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a class="navbar-brand" href="#">
          <img src="../../images/nominum.png" class="logo" alt="Brand"/>
        </a>
        <span class="header-title"><%- title %></span>
        <a href="#new" class="btn btn-info col-xs-2 pull-right margin-top-20 <%= button %>">
          <i class="glyphicon glyphicon-plus"></i>
          <span>Create new</span>
        </a>
      </div>
    </div>
  </div>
</nav>
